.Rproj.user
.Rhistory
.RData
.Ruserdata
data/tidy_data/demand/embodied_fish_per_cell.csv 
data/tidy_data/pressures/fishing-effort/annual_effort_2017.csv
data/raw_data
data/large_data
scripts/18_plots_for_presos